<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChromeDriverPath" value="C:\Automation_GoogleChromeDriverV2" />
    <add key="FirefoxDriverPath" value="C:\Automation_FirefoxDriver" />
    <add key="IEDriverPath" value="C:\Automation_IEDriver" />
    <add key="URL" value="http://oc-svr-at1/Fltpro_Automation_main/Login/Login" />
    <add key="FACT_Outlook_URL" value="https://mail.purple.com" />
    <add key="Outlook_Username" value="user15@purple.local" />
    <add key="Outlook_Password" value="Fltpro2010" />
    <add key="Login_Username" value="AT_user2" />
    <add key="Login_Password" value="AT_user2" />
    <add key="TestDataDBServer" value="10.0.2.35" />
    <add key="TestDataDBUsername" value="AnupD" />
    <add key="TestDataDBPassword" value="AnupD" />
    <add key="TestDataDBDatabase" value="Automation" />
    <add key="InstructorLogin_Username" value="AT_user2" />
    <add key="InstructorLogin_Password" value="AT_user2" />
    <add key="SQLServerDataSource" value="OC-SVR-AT1\SQL2016" />
    <add key="SQLServerInitialCatalog" value="TestAutomation_SQL2016_FP_v8_01_100" />
    <add key="SQLServerTestDataSource" value="OC-SVR-AT1\SQL2016" />
    <add key="SQLServerTestInitialCatalog" value="Selenium_TestData" />
    <add key="SQLServerUserId" value="fltpro4"/>
    <add key="SQLServerPassword" value="fltpro4"/>
    <add key="FACT_API_URL" value="http://82-api1/Fltpro_S_BELDEF_main/API/v1/" />
    <add key="Content-Type" value="application/xml" />
    <add key="X-ExternalRequest-ID" value="D1AD98CB-5C2B-419A-AB7C-5C93B570E3CA" />
    <add key="X-ExternalSystem-ID" value="5" />
    <add key="X-Date" value="Monday, 24 June 2019" />
    <add key="SQLServerIntegratedSecurity" value="True" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.16.0" newVersion="8.0.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.TestManagement.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
